.LoginMenu{
    width:100vw;
    overflow: hidden;
    background-color:black;   
    position: absolute;
    top:100%;
    left:0;
    z-index: 1;

    &__main{
        display:grid;   
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 120px;
        .LoginMenu__container{
            display:grid;

            .LoginMenu__btn{
                background-color: transparent;
                align-self: center;
                justify-self: center;
                border:0;

                .LoginMenu__image{
                    width:75px;
                    height:75px; 
                }
            }
        }
    }
}